body {
    font-size: 18pt;
    font-family: Tomaha, Verdana, Arial;
}

#main {
    display: block;
    margin: 12px;
}

a {
    text-decoration: none; !important;
}

a.btn-common {
    color: #c0c0c0;
    margin-bottom: 12px;
    display: inline-block;
}

#new-todo {
    height: 32px;
    line-height: 28px;
    font-family: Tomaha, Verdana, Arial;
    width: 240px;
}

a.del {
    display: inline-block;
    width: 42px;
    text-align: center;
    margin-left: -120px;
    color: #ccc;
}

li.task {
    cursor: default;
    margin-left: 80px;
}

li.task span {
    margin-left: 64px;
}

li.task span.ready {
    text-decoration: line-through;
}